@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Forum&family=Lato:wght@300&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@500&display=swap');


::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #0A1128;
  
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
  }