.h1 {
  font-size: 48px;
  line-height: 56px;
  font-family: 'Montserrat', sans-serif;
}

.h2 {
  font-size: 36px;
  line-height: 44px;
  font-family: 'Montserrat', sans-serif;
}

.h3 {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
}

.h4 {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Montserrat', sans-serif;
}

.h5 {
  font-size: 20px;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
}

.h6 {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

.bodyText {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

.smallBodyText {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  color: var(--black);
}
  .white{
    color: white;
  }
.red {
  color: #EF4444;
}

